%ul.nav.nav-sidebar
  = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: {class: 'home'}) do
    = link_to dashboard_projects_path, title: 'projects' do
      = icon('home fw')
      %span
<<<<<<< HEAD
        所有项目
=======
        Projects
  = nav_link(controller: :todos) do
    = link_to dashboard_todos_path, title: 'Todos' do
      = icon('bell fw')
      %span
        Todos
        %span.count= number_with_delimiter(todos_pending_count)
>>>>>>> 7c8099853621cc2a244bf6e0fd37a8b503d1ec5e
  = nav_link(path: 'dashboard#activity') do
    = link_to activity_dashboard_path, class: 'shortcuts-activity', title: 'Activity' do
      = icon('dashboard fw')
      %span
        活动窗口
  = nav_link(controller: :groups) do
    = link_to dashboard_groups_path, title: 'Groups' do
      = icon('group fw')
      %span
        组
  = nav_link(controller: :milestones) do
    = link_to dashboard_milestones_path, title: 'Milestones' do
      = icon('clock-o fw')
      %span
        里程碑
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: 'Issues', class: 'shortcuts-issues' do
      = icon('exclamation-circle fw')
      %span
        问题
        %span.count= number_with_delimiter(current_user.assigned_issues.opened.count)
<<<<<<< HEAD
    = nav_link(path: 'dashboard#merge_requests') do
      = link_to assigned_mrs_dashboard_path, title: 'Merge Requests', class: 'shortcuts-merge_requests' do
        = icon('tasks fw')
        %span
          合并请求
          %span.count= number_with_delimiter(current_user.assigned_merge_requests.opened.count)
=======
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, title: 'Merge Requests', class: 'shortcuts-merge_requests' do
      = icon('tasks fw')
      %span
        Merge Requests
        %span.count= number_with_delimiter(current_user.assigned_merge_requests.opened.count)
>>>>>>> 7c8099853621cc2a244bf6e0fd37a8b503d1ec5e
  = nav_link(controller: :snippets) do
    = link_to dashboard_snippets_path, title: 'Snippets' do
      = icon('clipboard fw')
      %span
        Snippets
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help' do
      = icon('question-circle fw')
      %span
        帮助

  %li.separate-item
  = nav_link(controller: :profile) do
    = link_to profile_path, title: 'Profile Settings', data: {placement: 'bottom'} do
      = icon('user fw')
      %span
        项目设置
