%ul.nav.nav-sidebar
  = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
    = link_to explore_root_path, title: 'Projects' do
      = icon('home fw')
      %span
        所有项目
  = nav_link(controller: :groups) do
    = link_to explore_groups_path, title: 'Groups' do
      = icon('group fw')
      %span
        所有组
  = nav_link(controller: :snippets) do
    = link_to explore_snippets_path, title: 'Snippets' do
      = icon('clipboard fw')
      %span
        Snippets
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help' do
      = icon('question-circle fw')
      %span
        帮助
