%ul.nav.nav-sidebar
  = nav_link do
    = link_to root_path, title: 'Go to dashboard', class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        返回首页 

  %li.separate-item

  = nav_link(path: 'groups#show', html_options: {class: 'home'}) do
    = link_to group_path(@group), title: 'Home' do
      = icon('dashboard fw')
      %span
        组信息
  - if can?(current_user, :read_group, @group)
    - if current_user
      = nav_link(controller: [:group, :milestones]) do
        = link_to group_milestones_path(@group), title: 'Milestones' do
          = icon('clock-o fw')
          %span
            里程碑
    = nav_link(path: 'groups#issues') do
      = link_to issues_group_path(@group), title: 'Issues' do
        = icon('exclamation-circle fw')
        %span
          问题
          - if current_user
            %span.count= number_with_delimiter(Issue.opened.of_group(@group).count)
    = nav_link(path: 'groups#merge_requests') do
      = link_to merge_requests_group_path(@group), title: 'Merge Requests' do
        = icon('tasks fw')
        %span
          合并请求
          - if current_user
            %span.count= number_with_delimiter(MergeRequest.opened.of_group(@group).count)
    = nav_link(controller: [:group_members]) do
      = link_to group_group_members_path(@group), title: 'Members' do
        = icon('users fw')
        %span
          项目成员
    - if can?(current_user, :admin_group, @group)
      = nav_link(html_options: { class: "separate-item" }) do
        = link_to edit_group_path(@group), title: 'Settings' do
          = icon ('cogs fw')
          %span
            设置
