%ul.nav.nav-sidebar
  = nav_link do
    = link_to group_path(@group), title: 'Go to group', class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        返回组

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'groups#edit') do
      = link_to edit_group_path(@group), title: 'Group Settings' do
        = icon ('pencil-square-o fw')
        %span
          组设置
    = nav_link(path: 'groups#projects') do
      = link_to projects_group_path(@group), title: 'Projects' do
        = icon('folder fw')
        %span
          所有项目
