%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project), title: 'Go to project', class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        返回项目 
  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'projects#edit') do
      = link_to edit_project_path(@project), title: 'Project Settings' do
        = icon('pencil-square-o fw')
        %span
          项目设置
    = nav_link(controller: :deploy_keys) do
      = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Deploy Keys' do
        = icon('key fw')
        %span
          所有开发Keys
    = nav_link(controller: :hooks) do
      = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web Hooks' do
        = icon('link fw')
        %span
          Web Hooks
    = nav_link(controller: :services) do
      = link_to namespace_project_services_path(@project.namespace, @project), title: 'Services' do
        = icon('cogs fw')
        %span
          所有服务
    = nav_link(controller: :protected_branches) do
      = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: 'Protected Branches' do
        = icon('lock fw')
        %span
          保护分支

    - if @project.builds_enabled?
      = nav_link(controller: :runners) do
        = link_to namespace_project_runners_path(@project.namespace, @project), title: 'Runners' do
          = icon('cog fw')
          %span
            所有运行进程
      = nav_link(controller: :variables) do
        = link_to namespace_project_variables_path(@project.namespace, @project), title: 'Variables' do
          = icon('code fw')
          %span
            所有定义变量
      = nav_link path: 'triggers#index' do
        = link_to namespace_project_triggers_path(@project.namespace, @project), title: 'Triggers' do
          = icon('retweet fw')
          %span
            Triggers
